#a1{
    animation-duration: 3s;
    animation-name: move1;
}
#a2{
    animation-duration: 3s;
    animation-name: move2;
}
@keyframes move1 {
0% {
    margin-right:10px;
}
100% {
    margin-right:0px;
}
}
@keyframes move2 {
    0% {
        margin-left:10px;
    }
    100% {
        margin-left:0px;
    }
    }